# Web app
API_BASE_URL=http://127.0.0.1:9080
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:9080
COOKIE_KEY=0123456789123456

# API sample
PASSWORD_PEPPER=0F79B240-0EEB-4CDF-ADD9-E5746486CF38

# Database
DATABASE_URL=jdbc:postgresql://localhost:5434/freezer_tracking 
DATABASE_USERNAME=freezer_tracking 
DATABASE_PASSWORD=freezer_tracking